@import url('./__job-input/form__job-input.css');
@import url('./__name-input/form__name-input.css');
@import url('./__save/form__save.css');

.form{
    display: flex;
    flex-direction: column;
     max-width: 358px;
}