.modal__close{
    position: absolute;
    width: 40.17px;
    height: 40.17px;
    top: -41px;
    right: -41px;
    background-image: url('../../../images/Close_icon.svg'); /* Thanks for the tip!*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    border: none;

}