@import url('./__add-btn/profile__add-btn.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__avatar/profile__avatar_edit-btn.css');
@import url('./__edit-btn/profile__edit-btn.css');

.profile{
    max-width: 882px;
    display: flex;
    flex-direction: row;
    margin: 41px auto 0;  
    position: relative;
    }

    @media screen and (max-width: 900px){
    
    
        .profile{
            padding: 0 48px;
        }
    }
    @media screen and (max-width: 590px){

        .profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }