.card__heart{
    background-image: url('../../../images/heart.svg');
    width: 21px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
}