.modal__container{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    max-height: 330px;
}

.modal_type_display-image .modal__container{
    position: relative;
    background: none;
    box-shadow: none;
    border-radius: 0;
    max-width: 75vw;
    max-height: 75vh;
}