.profile-info__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin: 18px 0 15px;
    max-width: 380px;
}

@media screen and (max-width: 900px){

    .profile-info__title{
        font-size: 22px;
    }
}

@media screen and (max-width: 590px){

    .profile-info__title{
        margin: 14px auto;
    }
}