.modal__error{
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    visibility: hidden;
    position: absolute;
    top: 25px;
    left: 0;
}

.modal__error_visible{
    visibility: visible;
}