.profile__edit-btn{
    width: 24px;
    height: 24px;
    background-image: url('../../../images/pencil.svg');
    background-position: center;
    background-size: 10px;
    background-color: #000000;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    margin: 37px 0 0 27px;
}

    @media screen and (max-width: 590px){

        .profile__edit-btn{
            width: 18px;
            height: 18px;
            margin: 0;
            position: absolute;
            top: 33px;
            right: -12px;
        }
    }
    