@import url('./../vendor/normalize.css');
@import url('./../vendor/fonts/fonts.css');

.page{
    max-width: 882px;
    background-color: #000000;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.header{
    max-width: 882px;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    padding: 45px 0 41px 3px;   
}

.logo{
width: 173px;
height: 33px;
}


.profile{
max-width: 882px;
display: flex;
flex-direction: row;
margin: 41px auto 0;  
}
.profile__avatar{
    max-width: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    margin-right: 30px;
}
.profile-info{
    display: flex;
    max-width: 428px;
    width: 100%;
}

.profile-info__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin: 18px 0 15px;
    max-width: 380px;
}
.profile-info__sub-title{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.profile__edit-btn{
    width: 24px;
    height: 24px;
    background-image: url('./images/pencil.svg');
    background-position: center;
    background-size: 10px;
    background-color: #000000;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    margin: 37px 0 0 27px;
}

.profile__add-btn{
        width: 150px;
        height: 50px;
        background-image: url('./images/plussign.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px;
        background-color: black;
        border: 1px solid #ffffff;
        align-self: center;
        margin-left: 150px;
}

.photo-grid{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    column-gap: 18px;
    max-width: 882px;
    row-gap: 20px;
    margin: 50px auto 0;
    padding: 0;
}

.card{
    background-color: white;
    color: #000000;
    border-radius: 10px;

}
.card__info{
    display: flex;
    justify-content: space-between;
    max-width: 246px;
    padding: 25px 15px 31px 21px;
}
.card__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    margin: 0;
}

.footer{
    max-width: 318px;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding: 66px 0 60px;

}

.modal{
    background: rgba(0, 0, 0, 0.5); 
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal_display{
    display: flex;
}

.modal__container{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 330px;
}
.modal__content{
    margin: 34px 36px 36.15px;
}
.modal__title{
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
.form{
    display: flex;
    flex-direction: column;
     max-width: 358px;
}
.form__name-input{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 30px;
}
.form__job-input{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 48px;
}

.modal__close{
    position: absolute;
    width: 40.17px;
    height: 40.17px;
    top: -41px;
    right: -41px;
    background-image: url(./images/Close\ Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    border: none;

}

.modal__save{
    background: black;
    width: 358px;
    height: 50.15px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}

.link:hover{
    opacity: .6;
    cursor: url('./images/mouse.svg'), auto;
}

.link_save-btn:hover{
    opacity: .8;
    cursor: url('./images/mouse.svg'), auto;
}

@media screen and (max-width: 900px){
    
    .logo{
        padding-left: 48px;
    }

    .profile__add-btn{
        margin-left: auto;
    }
    .profile{
        padding: 0 48px;
    }
    
    .photo-grid{
        grid-template-columns: repeat(2, 282px);
        justify-content: center;
    }
    
    .profile-info__title{
        font-size: 22px;
    }
    .profile-info__sub-title{
        font-size: 14px;
    }
    .footer{
        margin-left: 48px;
    }

}

@media screen and (max-width: 590px){
    .logo{
        width: 126px;
        height: 24px;
        padding-left: 27px;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile__avatar{
        margin-right: 0px;
    }

    .profile-info{
        position: relative;
        display: block;
    }
    .profile-info__title{
        margin: 14px auto;
    }

    .profile-info__sub-title{
        margin: 0 auto 36px;
    }

    .profile__edit-btn{
        width: 18px;
        height: 18px;
        margin: 0;
        position: absolute;
        top: 33px;
        right: -12px;
    }
    .profile__add-btn{
        margin: 0;
        width: 282px;
        height: 50px;
    }
    .photo-grid{
        grid-template-columns: repeat(1, 282px);
    }
    .footer{
        margin-left: 19px;
    }
}